html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: #fff;
    background-size: cover;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.recharts-wrapper {
  padding-left: 31px;
  margin: 0 auto;
}