.container {
    background-color: white;
    padding-top: 80px;
}
.wrapper {
    justify-content: center;
    align-items: center;
}
.input-label {
    font-size: 1.3em;
    color: black;
    /* padding-left: 5px; */
}
.input-field {
    width: 200px;
}
.item {
    text-align: center;
}