.container {
    font-size: 20px;
    fill: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.x-label {
    text-align: center;
    position: absolute;
    padding-top: 337px;
    padding-left: 54px;
    transform: translateX(-50%);
    
}